SOAApplication/MultiOperationProject/SOA/Schemas/CalcBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SOAApplication/MultiOperationProject/CalcBPEL"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="inputOne" type="integer"/>
                                <element name="inputTwo" type="integer"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="integer"/>
			</sequence>
		</complexType>
	</element>
</schema>